.nav-top {
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 1.2rem;
  display:flex;
  justify-content: space-between;
  height: 50px;
  align-items:baseline;
  background: white;
}

.nav-top ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-top h1 {
  font-size: 1.75rem;
  margin: 10px;
}

.nav-top a, li {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 0px 5px 0px 5px;
}

.nav-top a:hover {
  background-color: rgb(203, 239, 255);
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid black;
}

.header-adjust {
  height: 50px;
}

section {
  height: 500px;
  border: 1px solid red;
}

section h2 {
  text-align: center;
}

 section h2::before {
  content:"";
  display:block;
  height:70px;
  margin:-70px 0 0;
}

.splash-img {
  background-image: url("../assets/woman-smiling-soft.jpeg");
  background-size: cover;
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.splash-txt {
  font-family: "Droid Sans";
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-stretch: expanded;
}

.small-box {
  width: 400px;
}

.c1 {
  background: #05D8FF;
}

.c2 {
  background: #07BBFF;
}

.c3 {
  background: #0091FF;
}

.c4 {
  background: #0064FF;
}
