.nav-top {
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 1.1rem;
  display:flex;
  justify-content: space-between;
  height: 50px;
  align-items:baseline;
  background: white;
}

.nav-top ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-top h1 {
  font-size: 1.75rem;
  margin: 10px;
}

.nav-top a, li {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 0px 5px 0px 5px;
}

.nav-top a:hover {
  background-color: rgb(203, 239, 255);
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid black;
}

.header-adjust {
  height: 50px;
}

section {
  height: auto;
  width: 100%;
  /*height:500px;*/
  border: 1px solid white;
}

section h2 {
  text-align: center;
}

 section h2::before {
  content:"";
  display:block;
  height:70px;
  margin:-70px 0 0;
}

aside {
  display: flex;
  padding: 20px 60px 60px 60px;
  margin: auto;
  width: 75%;
  align-items:center;
}

.about {
  margin-left: 60px;
}

.meet {
  margin-right: 60px;
}

.reverse {
  flex-direction: row-reverse;
}

.text {
  text-align: justify;
}

.img-center {
  display: flex;
  justify-content: center;
  margin: 0px 40px 0px 40px;

}

.flex {
  /*flex: 1;*/
}

footer {
  height:100px;
  border: 1px solid red;
}
.splash-img {
  background-image: url("../assets/woman-smiling-soft.jpeg");
  background-size: cover;
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.splash-txt {
  font-family: "Droid Sans";
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-stretch: expanded;
}

.contact {
  height: auto;;
  display: flex;
  justify-content: space-around;
}
.map {
  flex: 1;
  margin: 2rem;
}
.address {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: center;
}

.small-box {
  width: 400px;
}

.c1 {
  background: #54CEFF;
}

.c2 {
  background: #0B82B2;
}

.c3 {
  background: #9CE2FF;
}

.c4 {
  background: #FFB45F;
}

.c5 {
  background: #D97C14;
}
